body{
    background-color:#faf7f4;
}
.heading{
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.5cm;
    text-decoration: solid;
    color: rgb(6, 138, 178);
}
.mainContent{
    border: 2cm;
    border-color: blue;
    margin-top: 200px;
    margin-left: 500px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* align-items: ; */
}
.selectcustomer{
    margin-bottom: 10px;
    padding: 10px;
    letter-spacing: 0.01cm;
    margin-left: 0.000000000001px;
    font-family: "Ubuntu";
    text-align: center;
}
.amount{
    margin-top: 20px;
    padding-top: 10px;
}
.box{
      width: 300px;
      height: 200px;
      background-color: #f0f0f0;
      border: 5px solid #acb5cd;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      margin: 0 auto;
      margin-top: 100px;
      border-radius: 10%;
      /* padding-top: 50px; */
}
.amount{
    margin-top: 0px;
    letter-spacing: 0.01cm;
    font-family: "Ubuntu";
}
.submitted{
    margin-left: 100px;
    background-color: rgb(32, 93, 248);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10%;
}
.submitted :hover{
    background-color: rgb(115, 153, 251);
}
.big-heading{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
  }

  .navbar{
    padding:0 0 4.5rem;
  }
  
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  .nav-item
  {
    padding: 0 18px;
  }
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 900;
    
  }
  .container-fluid{
    padding: 3% 15% 7%;
  }
  #title{
    background-color: #000293;
    color: #fff;
    text-align: left;
  }
  .option{
    text-align: center;
    padding-left: 5px;
  }
  .sendbutton{
    padding-top: 10px;
  }
  th {
    color: blue;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  td {
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #a175ca;
  }
  
  .transaction-history {
    margin-top: 20px;
  }
  
  
  .transfer {
    width: 30rem;
    height: 20rem;
    background-color: #a175ca;
    border-radius: .5rem;
    margin: auto;
  }
  
  .transfer label {
    display: block;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 40%;
    font-size: 1rem;
  }
  
  select,
  input[type="number"] {
    width: 200px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: #a175ca;
    color: #fff;
    margin-left: 30%;
  }
  
  select option {
    background-color: #a175ca;
  }
  
  .button {
    margin-left: 47%;
    margin-top: 20px;
  }
  
  .transfer-container {
    height: 100vh;
  }
  .rowdata{
    text-align: center;
  }